{% extends 'blog/base.html' %}
{% block content %}
    <h2>Curriculum Vitae</h2>
    <div>
        <h3>
            Contact Details:
        </h3>
        <p>
            {% if cv.phone %}
                Telephone No: {{ cv.phone }}
            {%endif%}
            {% if cv.email %}
                <br>Email Address: {{ cv.email }}
            {%endif%}
        </p>
    </div>
    <div>
        {% if cv.personal_profile %}
            <h3>Profile</h3>
            <p>{{ cv.personal_profile }}</p>
        {% endif %}
    </div>
    <div>
        <h3>Previous Work:</h3>
        <table>
            <tr><th>Position</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Description</th>
            </tr>
            {% for result in worktable %}
            <tr>
                <td>{{result.position}}</td>
                <td>{{result.start_date}}</td>
                <td>{{result.end_date}}</td>
                <td>{{result.description}}</td>
            </tr>  
            {% endfor %}
        </table>
        <h3>Qualifications:</h3>
        <table>
            <tr><th>Qualification</th>
                <th>Date Achieved</th>
            </tr>
            {% for result in qualtable %}
            <tr>
                <td>{{result.qualification}}</td>
                <td>{{result.date_achieved}}</td>
            </tr>  
            {% endfor %}
        </table>
        <h3>Skills:</h3>
        <table>
            <tr><th>Skill</th>
                <th>Proficiency</th>
            </tr>
            {% for result in skilltable %}
            <tr>
                <td>{{result.skill}}</td>
                <td>{{result.proficiency}}</td>
            </tr>  
            {% endfor %}
        </table>
    </div>
    <div>
        {% if cv.interests %}
            <h3>Interests</h3>
            <p>{{ cv.interests }}</p>
        {%endif%}
    </div>
{% endblock %}