{% extends 'blog/base.html' %}

{% block content %}

    <a href="{% url 'cv' %}">Back</a>

    <div>
        <h3>Skills:</h3>
        <table>
            <tr><th>Skill</th>
                <th>Proficiency</th>
            </tr>
            {% for result in skilltable %}
            <tr>
                <td>
                    {% if user.is_authenticated %}
                        <a class="btn btn-default" href="{% url 'edit_skill' pk=result.pk%}"><span class="glyphicon glyphicon-pencil"></span></a>
                    {% endif %}
                    {{result.skill}}
                </td>
                <td>{{result.proficiency}}</td>
            </tr>  
            {% endfor %}
        </table>
    </div>
    <h2>Add Skill</h2>
    <form method="POST" class = "post-form"> {% csrf_token %}
        {{ form.as_table }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
{% endblock %}